<h1 class="title">Cart</h1>


<table class="table">
  <thead>
    <tr>
      <th>Menu item</th>
      <th>Number to be ordered</th>
    </tr>
  </thead>
  <tbody>  
    <% @cart.each do |item| %>
      <tr>
        <th><%= item["name"] %></th> 
        <th><%= item["number"] %></th> 
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Confirm order", {:action => "create"}, :method => :post, class: "button" %>

